{
  "extends": "airbnb-base",
  "plugins": [
    "node",
    "es6-recommended",
    "mongodb"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "settings": {
    
  },
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "new-cap": [2, {
      "capIsNewExceptions": ["Router", "ObjectId"]
    }],
    "no-trailing-spaces":"warn",
    "no-unused-vars":"warn",
    "no-useless-escape":"warn",
    "no-bitwise":"off",
    "no-mixed-operators":"off",
    "func-names":"off",
    "no-underscore-dangle": [2, {
      "allow": ["_id", "_json"]
    }],
    "camelcase": [2, {
      "properties": "never"
    }],
    "node/exports-style": ["error", "module.exports"],
    "max-len": ["warn", 160],
    "indent": ["warn", 2],
    "linebreak-style": ["warn", "unix"],
    "space-before-function-paren": [2, {
      "anonymous": "always",
      "named": "never"
    }],
    "no-use-before-define": [2, "nofunc"]
  }
}
