doctype html
html(lang='en')
  head
    title Callback
    script(type='text/javascript').
      var app = 'iceberg';
      var str = "";
      for (var key in !{response}) {
      if (str != "") {
      str += "&";
      }
      str += key + "=" + encodeURIComponent(!{response}[key]);
      }
      console.log(str);
      window.location = app + '://?data=' + str;